<div class="container">
  <app-base-component (onReady)="onBaseComponentReady()"></app-base-component>
  <header>
    <app-toolbar 
      [avatar]="state.ui.toolbar.avatar"
      [icon]="state.ui.toolbar.icon"
      [title]="state.ui.toolbar.title"
      [isIconActive]="state.ui.toolbar.isIconActive"
      [username]="base.profile.name"
      (onIconClick)="onToolbarIconClick($event)"
      (onAvatarClick)="onToolbarAvatarClick()"
      (onAvatarMouseEnterLeave)="onToolbarAvatarMouseEnterLeave($event)"></app-toolbar>
  </header>
  <section class="account-info" *ngIf="state.ui.accountInfo.isShow" [@fade]>
    <app-account-info 
      [avatar]="state.ui.accountInfo.avatar"
      [firstname]="base.profile.firstname"
      [lastname]="base.profile.lastname"
      [email]="base.profile.email"
      (onAccountClick)="onAccountInfoAccountClick()"
      (onSignOutClick)="onAccountInfoSignOutClick()">
    </app-account-info>
  </section>
  <section class="panel" (click)="panelClick()">
    <div class="icon-container">
      <div class="icon-item" (click)="iconClick('bookmark')">
        <span class="icon-wrapper">
          <md-icon class="material-icons icon">place</md-icon>
          <div class="icon-text">Bookmark</div>
        </span>
      </div>
      <div class="icon-item" (click)="iconClick('place')">
        <span class="icon-wrapper">
          <md-icon class="material-icons icon" (click)="iconClick('account')">account_circle</md-icon>
          <div class="icon-text">My Account</div>
        </span>
      </div>
    </div>
  </section>
</div>