<div class="container">
    <div class="progressbar">
        <md-progress-bar mode="indeterminate" style="width: 100%;" *ngIf="isProcessing"></md-progress-bar>
    </div>
    <div class="panel">
        <div class="header">
            <div class="icon">
                <md-icon class="material-icons icon-title">collections_bookmark</md-icon>
            </div>
            <div class="title">CREATE AN ACCOUNT</div>
        </div>
        <div class="content">
            <form>
                <div>
                    <span>
                        <md-input-container>
                            <input type="text" id="firstname" class="input" placeholder="Firstname" maxlength="50" 
                                mdInput 
                                [formControl]="fc_firstname">
                            <md-error *ngIf="fc_firstname.hasError('required')">
                                Firstname is <strong>required</strong>
                            </md-error>
                        </md-input-container>
                    </span>
                    <span>
                        <md-input-container>
                            <input type="text" id="lastname" class="input" placeholder="Lastname" maxlength="50" 
                                mdInput 
                                [formControl]="fc_lastname">
                            <md-error *ngIf="fc_lastname.hasError('required')">
                                Lastname is <strong>required</strong>
                            </md-error>
                        </md-input-container>
                    </span>
                </div>
                <md-input-container>
                    <input type="text" id="email" class="input" placeholder="Email" maxlength="100" 
                        mdInput 
                        [formControl]="fc_email"> 
                    <md-error *ngIf="fc_email.hasError('required')">
                        Email is <strong>required</strong>
                    </md-error>
                    <md-error *ngIf="fc_email.hasError('pattern')">
                        Please enter a valid email address
                    </md-error>
                </md-input-container>
                <md-input-container>
                    <input type="password" id="password" class="input" placeholder="Password" maxlength="50" 
                        mdInput 
                        [formControl]="fc_password">
                    <md-error *ngIf="fc_password.hasError('required')">
                        Password is <strong>required</strong>
                    </md-error>
                    <md-error *ngIf="fc_password.hasError('minlength')">
                        Password has too short
                    </md-error>
                    <md-hint>Password must be at least 8 characters</md-hint>
                </md-input-container>
                <md-input-container>
                    <input type="password" id="confirmpassword" class="input" placeholder="Confirm Password" maxlength="50" 
                        mdInput 
                        [formControl]="fc_confirmpassword">
                    <md-error *ngIf="fc_confirmpassword.hasError('required')">
                        Confirm Password is <strong>required</strong>
                    </md-error>
                </md-input-container>
            </form>
        </div>
        <div class="footer">
            <button class="button" md-raised-button (click)="btnSignupClick()" [disabled]="isProcessing">Signup</button>
            <div class="signup">
                Already have an account? <a [routerLink]="['/signin']">Signin</a>
            </div>
        </div>
    </div>
</div>