<div class="container">
  <div class="content">
      <div class="left">
          <md-icon class="material-icons button image">account_circle</md-icon>
      </div>
      <div class="right">
          <div class="name">{{ firstname }} {{ lastname }}</div>
          <div class="email">{{ email }}</div>
          <div class="account" mdTooltip="My Account">
            <div class="material-icons button account">verified_user</div>
          </div>
      </div>
  </div>
  <div class="footer">
      <div mdTooltip="Logout">
        <div class="material-icons button logout">power_settings_new</div>
      </div>
  </div>
</div>