<div class="container">
  <div class="content">
    <div class="left">
      <span class="account" mdTooltip="My Account" (click)="accountClick()">
        <md-icon *ngIf="!avatar"
          class="material-icons button no-avatar">account_circle</md-icon>
        <div *ngIf="avatar" 
          class="button avatar" 
          [ngStyle]="{ 'background-image': 'url(' + avatar + ')' }">
        </div>
      </span>
    </div>
    <div class="right">
      <div class="name">{{ firstname }} {{ lastname }}</div>
      <div class="email">{{ email }}</div>
    </div>
  </div>
  <div class="footer">
    <span mdTooltip="Logout">
      <div class="material-icons button logout" (click)="signOutClick()">power_settings_new</div>
    </span>
  </div>
</div>