<div class="container">
  <div class="profile">
    <div class="firstname">
      <span class="title">Firstname:</span>
      <span class="value">{{ state.ui.firstname }}</span>
    </div>
    <div class="lastname">
      <span class="title">Lastname:</span>
      <span class="value">{{ state.ui.lastname }}</span>
    </div>
    <div class="username">
      <span class="title">Username:</span>
      <span class="value">{{ state.ui.name }}</span>
    </div>
    <div class="email">
      <span class="title">E-mail:</span>
      <span class="value">{{ state.ui.email }}</span>
    </div>
  </div>
</div>