<div class="container">
  <div class="progressbar">
    <app-progressbar [isShow]="state.isProcessing"></app-progressbar>
  </div>
  <form novalidate [formGroup]="form_change_password">
    <md-input-container>
      <input type="password" id="current_password" placeholder="Current Password" maxlength="50" 
        mdInput 
        [formControl]="tbx_current_password">
      <md-error *ngIf="tbx_current_password.hasError('required')">
        Current password is <strong>required</strong>
      </md-error>
    </md-input-container>
    <md-input-container>
      <input type="password" id="new_password" placeholder="New Password" maxlength="50" 
        mdInput 
        [formControl]="tbx_new_password"> 
      <md-error *ngIf="tbx_new_password.hasError('required')">
        New password is <strong>required</strong>
      </md-error>
      <md-error *ngIf="tbx_new_password.hasError('minlength')">
        Password has too short
      </md-error>
      <md-hint>Password must be at least 8 characters</md-hint>
    </md-input-container>
    <md-input-container>
      <input type="password" id="confirm_password" placeholder="Confirm Password" maxlength="50" 
        mdInput 
        [formControl]="tbx_confirm_password">
      <md-error *ngIf="tbx_confirm_password.hasError('required')">
          Confirm password is <strong>required</strong>
      </md-error>
    </md-input-container>
    <md-error *ngIf="state.isChangePasswordFailed">
        {{ state.changePasswordMsg }}
    </md-error>
    <button md-raised-button (click)="changePasswordFormSubmit()" [disabled]="state.isProcessing">Change Password</button>
  </form>
</div>