<div class="container">
  <header>
    <app-toolbar 
      [icon]="state.ui.toolbar.icon"
      [title]="state.ui.toolbar.title"
      [isIconActive]="state.ui.toolbar.isIconActive"
      [username]="base.profile.name"
      (onIconClicked)="onToolbarIconClicked($event)"
      (onAvatarClicked)="onToolbarAvatarClicked($event)"
      (onAvatarMouseEnterLeave)="onToolbarAvatarMouseEnterLeave($event)"></app-toolbar>
  </header>
  <aside *ngIf="state.ui.toolbar.isIconActive" [@slideLTR]>
  </aside>
  <section class="account-info" *ngIf="state.ui.accountInfo.isShow" [@fade]>
    <app-account-info 
      [firstname]="base.profile.firstname"
      [lastname]="base.profile.lastname"
      [email]="base.profile.email"
      (onSignOutClicked)="onAccountInfoSignOutClicked()">
    </app-account-info>
  </section>
  <section class="map">
    <app-map 
      [coords]="coords"
      [markers]="markers"
      [showOverlay]="state.ui.toolbar.isIconActive"
      (onFocus)="onMapFocus($event)"></app-map>
  </section>
</div>