.container{
    margin: 0;
    padding: 0;

    width: inherit;
    height: calc(100% - 77px);
    overflow-y: auto;
}


.container::-webkit-scrollbar {
    width: 6px;
    background-color: #ffffff;
}

.container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #d4d4d4;
}

.container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -ms-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #ffffff;
}

.empty {
    width: inherit;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Baloo Bhaijaan', cursive;
    font-size: 1.5em;
    color: #888888;
}