<div class="container">
  <!-- Map Overlay -->
  <div class="overlay" *ngIf="showOverlay" (click)="focus()"></div>
  <!-- Map -->
  <agm-map class="map" 
    [latitude]="coords.lat"
    [longitude]="coords.lng"
    [zoom]="zoom"
    (mapClick)="onMapClick($event)"
    (mapDblClick)="onMapDblClick($event)"
    (mapRightClick)="onMapRightClick($event)"
    (boundsChange)="onMapBoundsChange($event)"
    (centerChange)="onMapCenterChange($event)"
    (idle)="onIdle($event)">
    <!-- Markers -->
    <div *ngFor="let marker of markers">
      <app-marker
        [marker]="marker"
        (onLocationInfoUpdate)="onLocationInfoUpdated($event)"
        (onLocationInfoDelete)="onLocationInfoDeleted($event)">
      </app-marker>
    </div>
    <!-- InfoWindow -->
    <agm-info-window 
      [latitude]="infoWindow.coords.lat"
      [longitude]="infoWindow.coords.lng"
      [isOpen]="infoWindow.isOpen">
      Test
    </agm-info-window>
  </agm-map>
</div>